<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <title>List Kabupaten</title>
  </head>
  <body>
    <div class="container">
      {{#if messages.success}}
        <div class="alert alert-success text-center" role="alert">
          {{messages.success}}
        </div>
      {{/if}}
      {{#if user}}
        <p>Welcome, {{user.username}}!</p>
        <a href="/logout" class="btn btn-danger">Logout</a>
      {{else}}
        <a href="/login" class="btn btn-primary">Login</a>
      {{/if}}
      <h1 class="text-center">Provinsi & Kabupaten</h1>
      {{#if user}}
        <a href="/create-provinsi" class="btn btn-primary">Add Provinsi</a>
        <a href="/create-kabupaten" class="btn btn-success">Add Kabupaten</a>
      {{/if}}
      <div class="container mt-5">
        <h2 class="mb-4 text-center">Daftar Kabupaten</h2>
        {{#if messages.error}}
          <div class="alert alert-danger text-center" role="alert">
            {{messages.error}}
          </div>
        {{/if}}
      <a href="/" class="btn btn-primary">List Provinsi</a><br><br>
        <div class="row">
          {{#each kabupaten}}
            <!-- Card 1 -->
            <div class="col-md-3 mb-4">
              <div class="card">
                <img
                  src="{{this.photo}}"
                  class="card-img-top"
                  alt="Provinsi 1"
                />
                <div class="card-body text-center">
                  <h5 class="card-title">{{this.nama}}</h5>
                  <p class="card-text">{{formateDate this.diresmikan}}</p>
                  <p class="card-text">{{this.Provinsi.pulau}}</p>
                  <p class="card-text">Provinsi : {{this.Provinsi.nama}}</p>
                  
                  {{#if (equal ../user.id this.Provinsi.user_id)}}
                    <a href="/edit-kabupaten/{{this.id}}" class="btn btn-success">Edit</a>
                  
                    <form action="/delete-kabupaten/{{this.id}}?_method=DELETE" method="post">
                      <button type="submit" class="btn btn-danger" style="display: inline !important;" onclick="confirm('are u sure want to delete this?')">Delete</button>
                    </form>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}

        </div>
      </div>
    </div>
  </body>
</html>